<%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<br><br>

<%= link_to "管理者" %> | <%= link_to "イベント" %> | <%= link_to "学生" %> | <%= link_to "企業" %> | <%= link_to "アドバイザー" %> | <%= link_to "マスター管理" %>

<br><br>



<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<p>学校一覧</p>                                 <%= link_to "管理者", destroy_user_session_path, :class => "btn btn-info" %>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>